body{
    background-color: rgb(33,33,33);
}
.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    width: 10rem;
    height: 7em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}
.card p {
    color: #666;
}



.container{
    background-color: rgba()#8f8a8a;
}
.card1{
    height: 100px;
    width: 85px;
    background-color: brown;
    color: aliceblue;
}


.card1:hover{
    box-shadow:  10px 5px 0px rgba(230, 5, 110, 0.5) inset;
}
/* 
button{
    height: 30px;
    width: 45px;
    background-color: rgb(36, 202, 86);
    color: rgb(2, 69, 128);   
} */
