body{
    background-color: rgb(33,33,33);
}
.card{
    
    background-color: rgb(42, 42, 240);
    text-decoration: solid white;
    
    max-height: 100%;
    min-width: 50%;

}



.card1{
    height: 20px;
    width: 35px;
    background-color: brown;
    color: aliceblue;
}

card1:hover{
    box-shadow:  10px 5px 0px rgba(0, 0, 0, 0.5) inset;
}